<% layout 'error_layout', :title => "Ruby on Rails framework could not be loaded" do %>
<h1 class="title error_title">Ruby on Rails framework could not be loaded</h1>
<div id="content">
	
	<% if @error.vendor %>
		The application's developer seems to have bundled a non-working
		version of the Ruby on Rails framework. Please contact the
		application's developer.
	<% else %>
		Ruby on Rails framework version <%=h @error.version %> seems to be
		corrupted. Please reinstall it.
		This can be done with the following command:
		<pre class="commands"><%= PlatformInfo.gem_command %> install rails --version <%=h @error.version %></pre>
	<% end %>
	
	<dl>
	<dt>Framework that failed to load:</dt>
	<dd>
		<% if @error.vendor %>
			Vendor directory: <tt><%=h @error.vendor %></tt>
		<% else %>
			Rails framework version <%=h @error.version %>
		<% end %>
	</dd>
	
	<dt>Error message:</dt>
	<dd><%=h @error.child_exception.message %></dd>

	<dt>Exception class:</dt>
	<dd><%=h @error.child_exception.class %></dd>
	
	<dt>Backtrace:</dt>
	<dd>
		<%= backtrace_html_for(@error.child_exception) %>
	</dd>
	</dl>

</div>
<% end %>
